
.cssCarousel{
	max-width: 100%;
	overflow-x: hidden;
}

.cssCarousel > input[type="radio"]{
	display: none;
}

/* defines width of individual items */
.cssCarousel__viewport{
	width: 60%;
	margin: 0 auto;
}
@media screen and (min-width: 768px){
	.cssCarousel__viewport{
		width: 40%;
	}
}
@media screen and (min-width: 992px){
	.cssCarousel__viewport{
		width: 30%;
	}
}
@media screen and (min-width: 1200px){
	.cssCarousel__viewport{
		width: 20%;
	}
}

.cssCarousel__viewport > ul{
	display: flex;
	transition: all 0.3s ease;
	margin: 0;
	padding: 0;
}

.cssCarousel__viewport > ul > li{
	width: 100%;
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
}

/* Clickable */
.cssCarousel__viewport > ul > li > label{
	display: block;
	position: relative;
	height: 0;
	/* 2:3 movie poster aspect ratio */
	padding-bottom: 150%;
	cursor: pointer;
	transform: scale(0.85, 0.85);
	opacity: 0.5;
	transition: all 0.3s ease;
}

/* Shows when item is selected */
.cssCarousel--showOnFocus{
	opacity: 0;
	position: relative;
	top: -3em;
	transition: all 0.4s ease;
}

.cssCarousel img{
	max-width: 100%;
	height: auto;
}


/*
 * Carousel width based on number of items
*/
.cssCarousel--2-items{ width: 200%; }
.cssCarousel--3-items{ width: 300%; }
.cssCarousel--4-items{ width: 400%; }
.cssCarousel--5-items{ width: 500%; }
.cssCarousel--6-items{ width: 600%; }
.cssCarousel--7-items{ width: 700%; }
.cssCarousel--8-items{ width: 800%; }
.cssCarousel--9-items{ width: 900%; }
.cssCarousel--10-items{ width: 1000%; }
/* next item - width: 1100% */

/*
 * Carousel position
*/
.cssCarousel > input:nth-of-type(1):checked ~ .cssCarousel__viewport > ul{ margin-left: 0; }
.cssCarousel > input:nth-of-type(2):checked ~ .cssCarousel__viewport > ul{ margin-left: -100%; }
.cssCarousel > input:nth-of-type(3):checked ~ .cssCarousel__viewport > ul{ margin-left: -200%; }
.cssCarousel > input:nth-of-type(4):checked ~ .cssCarousel__viewport > ul{ margin-left: -300%; }
.cssCarousel > input:nth-of-type(5):checked ~ .cssCarousel__viewport > ul{ margin-left: -400%; }
.cssCarousel > input:nth-of-type(6):checked ~ .cssCarousel__viewport > ul{ margin-left: -500%; }
.cssCarousel > input:nth-of-type(7):checked ~ .cssCarousel__viewport > ul{ margin-left: -600%; }
.cssCarousel > input:nth-of-type(8):checked ~ .cssCarousel__viewport > ul{ margin-left: -700%; }
.cssCarousel > input:nth-of-type(9):checked ~ .cssCarousel__viewport > ul{ margin-left: -800%; }
.cssCarousel > input:nth-of-type(10):checked ~ .cssCarousel__viewport > ul{ margin-left: -900%; }
/* next item -  margin-left: -1000% */

/* 
 * Selected item behavior
*/

/* item 1 selected */
.cssCarousel > input:nth-of-type(1):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(1) > label{
	transform: scale(1,1);
	opacity: 1;
}
.cssCarousel > input:nth-of-type(1):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(1) .cssCarousel--showOnFocus{
	opacity: 1;
	top: 0;
}

/* item 2 selected */
.cssCarousel > input:nth-of-type(2):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(2) > label{
	transform: scale(1,1);
	opacity: 1;
}
.cssCarousel > input:nth-of-type(2):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(2) .cssCarousel--showOnFocus{
	opacity: 1;
	top: 0;
}

/* item 3 selected */
.cssCarousel > input:nth-of-type(3):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(3) > label{
	transform: scale(1,1);
	opacity: 1;
}
.cssCarousel > input:nth-of-type(3):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(3) .cssCarousel--showOnFocus{
	opacity: 1;
	top: 0;
}

/* item 4 selected */
.cssCarousel > input:nth-of-type(4):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(4) > label{
	transform: scale(1,1);
	opacity: 1;
}
.cssCarousel > input:nth-of-type(4):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(4) .cssCarousel--showOnFocus{
	opacity: 1;
	top: 0;
}

/* item 5 selected */
.cssCarousel > input:nth-of-type(5):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(5) > label{
	transform: scale(1,1);
	opacity: 1;
}
.cssCarousel > input:nth-of-type(5):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(5) .cssCarousel--showOnFocus{
	opacity: 1;
	top: 0;
}

/* item 6 selected */
.cssCarousel > input:nth-of-type(6):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(6) > label{
	transform: scale(1,1);
	opacity: 1;
}
.cssCarousel > input:nth-of-type(6):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(6) .cssCarousel--showOnFocus{
	opacity: 1;
	top: 0;
}

/* item 7 selected */
.cssCarousel > input:nth-of-type(7):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(7) > label{
	transform: scale(1,1);
	opacity: 1;
}
.cssCarousel > input:nth-of-type(7):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(7) .cssCarousel--showOnFocus{
	opacity: 1;
	top: 0;
}

/* item 8 selected */
.cssCarousel > input:nth-of-type(8):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(8) > label{
	transform: scale(1,1);
	opacity: 1;
}
.cssCarousel > input:nth-of-type(8):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(8) .cssCarousel--showOnFocus{
	opacity: 1;
	top: 0;
}

/* item 9 selected */
.cssCarousel > input:nth-of-type(9):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(9) > label{
	transform: scale(1,1);
	opacity: 1;
}
.cssCarousel > input:nth-of-type(9):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(9) .cssCarousel--showOnFocus{
	opacity: 1;
	top: 0;
}

/* item 10 selected */
.cssCarousel > input:nth-of-type(10):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(10) > label{
	transform: scale(1,1);
	opacity: 1;
}
.cssCarousel > input:nth-of-type(10):checked ~ .cssCarousel__viewport > ul > li:nth-of-type(10) .cssCarousel--showOnFocus{
	opacity: 1;
	top: 0;
}